<div *ngIf="message" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div>
                        <button (click)="close()"
                            class="absolute top-2 right-3 text-gray-400 hover:text-black text-xl font-bold">
                            &times;
                        </button>
                        <div class="flex flex-col items-center text-center">
                            <div class="flex items-center justify-center w-14 h-14 rounded-full bg-red-400 mb-2 text-white-100 text-xl">
                                <fa-icon [icon]="['fal', 'xmark']"></fa-icon>
                            </div>
                            <h3 class="text-lg font-semibold text-gray-800" id="modal-title">¡Vaya, algo ha fallado!</h3>
                        </div>
                        <!-- <h2 class="text-center text-2xl font-semibold text-gray-800 mb-6">Error</h2> -->

                        <!-- Mensaje de error -->
                        <p class="text-sm text-center text-gray-700 m-4">
                            {{message}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>