<div class="p-6">
    <div class="flex justify-between items-center mb-6">
        <button class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-xl shadow cursor-pointer"
            (click)="onNew()">
            + Nueva conexión
        </button>
    </div>

    <!-- Formulario -->
    <app-database-form *ngIf="showFormPopup" [connection]="editing" (submit)="onSaved()"
        (cancel)="editing = null; showFormPopup=false">
    </app-database-form>

    <div class="bg-white rounded-lg shadow overflow-auto">
        <table class="w-full text-sm text-gray-700">
            <thead class="bg-gray-100 border-b text-gray-600 font-semibold text-left">
                <tr>
                    <th class="p-4">Nombre</th>
                    <th class="p-4">Host</th>
                    <th class="p-4">Puerto</th>
                    <th class="p-4">Tipo</th>
                    <th class="p-4">Estado</th>
                    <th class="p-4">Última comprobación</th>
                    <th class="p-4" *ngIf="admin">Usuario</th>
                    <th class="p-4"></th>
                    <th class="p-4 text-right">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let db of databases" class="border-b hover:bg-gray-50 transition">
                    <td class="p-4 font-medium">{{ db.name }}</td>
                    <td class="p-4">{{ db.host }}</td>
                    <td class="p-4">{{ db.port }}</td>
                    <td class="p-4">{{ db.driver }}</td>
                    <td class="p-4">
                        <span class="px-2 py-1 rounded text-xs font-medium" [ngClass]="{
                  'bg-green-100 text-green-700': db.status === 'success',
                  'bg-red-100 text-red-700': db.status !== 'success'
                }">
                            {{ db.status }}
                        </span>
                    </td>
                    <td class="p-4">{{ db.updated_at | date: 'short' }}</td>
                    <td class="p-4" *ngIf="admin">{{ db.user?.name }}</td>
                    <td class="p-4 text-right">
                        <button
                            class="text-gray-600 hover:text-gray-800 border-2 py-1 px-2 rounded-xl border-green-600 mr-2 cursor-pointer"
                            (click)="testConnection(db)">
                            <span class="text-green-800">Probar conexión</span>
                        </button>
                    </td>

                    <td class="p-4 text-right space-x-2">
                        <button class="text-blue-600 hover:text-blue-800 cursor-pointer" (click)="onEdit(db)">
                            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                        </button>
                        <button (click)="askDelete(db.id)" class="text-red-600 hover:text-red-800 cursor-pointer">
                            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="loading">
                    <td colspan="7" class="p-6 text-center">
                        <div class="flex justify-center items-center gap-2 text-blue-600">
                            <div
                                class="animate-spin h-5 w-5 border-4 border-blue-500 border-t-transparent rounded-full">
                            </div>
                            <span>Cargando datos...</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!loading && databases.length === 0" class="text-center text-gray-500 mt-6">
        <p>No hay conexiones a BBDD registradas aún.</p>
    </div>
</div>

<!-- Diálogo de confirmación -->
<app-confirm-popup *ngIf="confirmDeleteId" [title]="'Eliminar conexión'"
    [message]="'¿Estás seguro de eliminar esta conexión a Base de datos?'" (confirm)="confirmDelete()"
    (cancel)="confirmDeleteId = null">
</app-confirm-popup>

<!-- Spinner de pantalla completa -->
<div *ngIf="loadingConnection" class="fixed inset-0 z-50 flex items-center justify-center bg-white/5 backdrop-blur-md">
    <div class="flex flex-col items-center gap-4 text-gray-700">
        <div class="h-10 w-10 border-4 border-blue-600 border-t-transparent rounded-full animate-spin"></div>
        <p class="text-sm font-medium">Comprobando conexión...</p>
    </div>
</div>