<div class="p-6">
    <div class="flex justify-between items-center mb-6">
        <button class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-xl shadow cursor-pointer"
            (click)="onNew()">
            + Programar ejecución
        </button>
    </div>

    <app-scheduled-execution-modal  *ngIf="showScheduledModal" [mappings]="mappings" [connection]="editing"
        (close)="showScheduledModal = false" (created)="fetchScheduled()" />

    <div class="bg-white rounded-lg shadow overflow-auto">
        <table class="w-full text-sm text-gray-700">
            <thead class="bg-gray-100 border-b text-gray-600 font-semibold text-left">
                <tr>
                    <th class="p-4">Mapeo</th>
                    <th class="p-4">Frecuencia</th>
                    <th class="p-4">Cron</th>
                    <th class="p-4">Última ejecución</th>
                    <th class="p-4 text-right">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of scheduled" class="border-b hover:bg-gray-50">
                    <td class="p-4">{{ e.mapping?.name }}</td>
                    <td class="p-4 capitalize">{{ e.repeat }}</td>
                    <td class="p-4">{{ e.cron_expression || '-' }}</td>
                    <td class="p-4">{{ e.last_executed_at | date: 'short' }}</td>
                    <td class="p-4 text-right space-x-2">
                        <button class="text-blue-600 hover:text-blue-800 cursor-pointer" (click)="onEdit(e)">
                            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                        </button>
                        <button (click)="askDelete(e.id)" class="text-red-600 hover:text-red-800 cursor-pointer">
                            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="loading">
                    <td colspan="5" class="p-6 text-center">
                        <div class="flex justify-center items-center gap-2 text-blue-600">
                            <div
                                class="animate-spin h-5 w-5 border-4 border-blue-500 border-t-transparent rounded-full">
                            </div>
                            <span>Cargando datos...</span>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="!loading && scheduled.length === 0">
                    <td colspan="5" class="text-center p-4 text-gray-500">No hay ejecuciones programadas aún.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Diálogo de confirmación -->
<app-confirm-popup *ngIf="confirmDeleteId" [title]="'Eliminar ejecución'"
    [message]="'¿Estás seguro de eliminar esta sincronización? Se eliminarán las proximas ejecuciones.'"
    (confirm)="confirmDelete()" (cancel)="confirmDeleteId = null">
</app-confirm-popup>