<div class="min-h-screen bg-cover bg-center flex items-center justify-center"
    [ngStyle]="{ 'background-image': 'url(img/login-bg.png)' }">
    <div class="bg-white bg-opacity-90 rounded-xl shadow-xl w-full max-w-sm p-8 divide-y divide-gray-300">
        <div>
            <h2 class="text-center text-2xl font-semibold text-gray-800 mb-6">Restablecer contraseña</h2>

            <form (ngSubmit)="submit()" [formGroup]="form" class="space-y-4">
                <!-- Email -->
                <div>
                    <input type="password" formControlName="password" name="password" placeholder="Contraseña" required
                        class="text-sm w-full px-4 py-2 border border-gray-300 rounded-xl placeholder-gray-500 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
                </div>

                <!-- Password -->
                <div>
                    <input type="password" formControlName="password_confirmation" name="password_confirmation"
                        placeholder="Repite la contraseña" required
                        class="text-sm w-full px-4 py-2 border border-gray-300 rounded-xl placeholder-gray-500 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
                </div>

                <!-- Botón -->
                <button type="submit" [disabled]="form.invalid"
                    class="text-sm w-full bg-green-500 text-white-800 font-semibold py-2 rounded-xl hover:bg-green-400 transition cursor-pointer">
                    Restablecer
                </button>
            </form>

            <!-- Mensaje de error -->
            <p *ngIf="error" class="text-red-600 mt-4 text-sm">{{ error }}</p>
        </div>
        <div>
            <div class="mt-6 text-sm text-center text-gray-600">
                ¿No quieres cambiar la contraseña?
                <a routerLink="/login" class="text-sky-600 hover:underline">Inicia sesión</a>
            </div>
        </div>
    </div>
</div>
<app-generic-error-popup></app-generic-error-popup>